:root {
  --color-primary: rgba(255, 152, 16, 0.9);
  /* Color principal */
  --color-dark: rgba(20, 20, 20, 0.5);
  /* Color de superposición */
  --color-text: rgb(255, 255, 255);
  /* Color de texto */
  --font-heading: "Merienda", cursive;
  /* Fuente para títulos */
  --font-body: 'Times New Roman', Times, serif;
  /* Fuente para texto */
}

.principal-Home {
  width: 100%;
}
.section-container1 {
  position: relative;
  height: 100vh;
}

.section1-Home {
  position: absolute;
  width: 100%;
  min-height: 30rem; 
  height: 100%;
  /*background-image: url('../../assets/Fondo.jpg');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* Apila los elementos verticalmente */
  justify-content: space-between;
  /* Distribuye el espacio entre los elementos */
  
}


.section1-Home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  /* Usando variable CSS */
}

.contenedor-Home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-items: center;
  color: white;
  padding-top: 4rem; /* Espaciado superior */
 
  
}

.title1-Home {
  padding-top: 4rem;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0 1rem;
}

.title2-Home {
  font-family: var(--font-heading);
  font-weight: 900;
  font-size: 13vw;
  color: white;
  margin-top: 1rem;
  /* Espaciado entre títulos */
}

.botones {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 0 2rem;

}

.boton-Home {
  width: 100%;
  max-width: 15rem;
  height: 3rem;
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  display: flex;
  font-size: cla 5vw;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.3s ease;
  border-radius: 0.2rem;
  border-width: 2px;
  border: solid rgb(236, 236, 236);
  color: rgb(235, 235, 235);
  /* Bordes redondeados */
}

.boton-Home:hover {
  transform: scale(1.1);
}

.description-Home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 20rem;
  padding: 2rem;
  background-color: rgba(255, 152, 16, 0.8);
  font-size: 1.3rem;
  text-align: center;
}

.description-Text {
  font-size: 1.5rem;
  color: var(--color-text);
  /* Usando variable CSS */
  font-family: var(--font-body);
  max-width: 800px;
  /* Ancho máximo para el texto */
  margin: 0 auto;
  /* Centrar el texto */
  color: rgb(32, 32, 32);
}
.boton-Pregunta{
  margin-top: 2rem;
  border-radius: .5rem;
  height: 3rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
  transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0.904);
}
.boton-Pregunta:hover {
  transform: scale(1.1);
}




/*---------- CARTA-------------------------- */
.carta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.titulo-carta {
  margin-top: 5rem;
  padding: 0 2rem;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  text-align: center;

}

.carta-descripcion {
  padding: 2rem 2rem 0 2rem;
  text-align: center;
  font-size: 1.5rem;

}

.contenedor-carta {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 3rem;
  padding: 2rem 1rem 4rem 1rem;

}

.opciones-card {
  display: flex;
  height: 15rem;
  transition: transform 0.3s ease-in-out;
}

.opciones-card:hover {
  transform: scale(.9);
}

.opciones-card span {
  position: absolute;
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 700;
}

.opcion-1,
.opcion-2,
.opcion-3,
.opcion-4,
.opcion-5,
.opcion-6,
.opcion-7,
.opcion-8,
.opcion-9,
.opcion-10,
.opcion-11 {
  position: relative;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;

}

.opcion-1 {
  background-image: url(../../assets/raciones.jpg);
}

.opcion-2 {
  background-image: url(../../assets/entrante.jpg);

}

.opcion-3 {
  background-image: url(../../assets/sopas.jpg);
}

.opcion-4 {
  background-image: url(../../assets/ensalda.jpg);
}

.opcion-5 {
  background-image: url(../../assets/tipicos.jpg);
}

.opcion-11 {
  background-image: url(../../assets/vinos.png);
}

.opcion-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: background-color 1s ease;
  background-color: rgba(20, 20, 20, 0.7);
  /* Ajusta el valor de opacidad según lo 
  necesites */
}

.opcion-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: background-color 1s ease;
  background-color: rgba(20, 20, 20, 0.7);
  /* Ajusta el valor de opacidad según lo 
  necesites */
}

.opcion-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: background-color 1s ease;
  background-color: rgba(20, 20, 20, 0.7);
  /* Ajusta el valor de opacidad según lo 
  necesites */
}

.opcion-4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: background-color 1s ease;
  background-color: rgba(20, 20, 20, 0.7);
  /* Ajusta el valor de opacidad según lo 
  necesites */
}

.opcion-5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: background-color 1s ease;
  background-color: rgba(20, 20, 20, 0.7);
  /* Ajusta el valor de opacidad según lo 
  necesites */
}

.opcion-6::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: background-color 1s ease;
  background-color: rgba(20, 20, 20, 0.7);
  /* Ajusta el valor de opacidad según lo 
  necesites */
}

.opcion-7::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: background-color 1s ease;
  background-color: rgba(20, 20, 20, 0.7);
  /* Ajusta el valor de opacidad según lo 
  necesites */
}

.opcion-8::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: background-color 1s ease;
  background-color: rgba(20, 20, 20, 0.7);
  /* Ajusta el valor de opacidad según lo 
  necesites */
}

.opcion-9::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: background-color 1s ease;
  background-color: rgba(20, 20, 20, 0.7);
  /* Ajusta el valor de opacidad según lo 
  necesites */
}

.opcion-10::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: background-color 1s ease;
  background-color: rgba(20, 20, 20, 0.7);
  /* Ajusta el valor de opacidad según lo 
  necesites */
}

.opcion-11::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: background-color 1s ease;
  background-color: rgba(20, 20, 20, 0.7);
  /* Ajusta el valor de opacidad según lo 
  necesites */
}

.opcion-1:hover::before {
  background-color: rgba(20, 20, 20, 0.3);
  /* Fondo más claro cuando se pasa el ratón por encima */
}

.opcion-2:hover::before {
  background-color: rgba(20, 20, 20, 0.3);
  /* Fondo más claro cuando se pasa el ratón por encima */
}

.opcion-3:hover::before {
  background-color: rgba(20, 20, 20, 0.3);
  /* Fondo más claro cuando se pasa el ratón por encima */
}

.opcion-4:hover::before {
  background-color: rgba(20, 20, 20, 0.3);
  /* Fondo más claro cuando se pasa el ratón por encima */
}

.opcion-5:hover::before {
  background-color: rgba(20, 20, 20, 0.3);
  /* Fondo más claro cuando se pasa el ratón por encima */
}

.opcion-6:hover::before {
  background-color: rgba(20, 20, 20, 0.3);
  /* Fondo más claro cuando se pasa el ratón por encima */
}

.opcion-7:hover::before {
  background-color: rgba(20, 20, 20, 0.3);
  /* Fondo más claro cuando se pasa el ratón por encima */
}

.opcion-8:hover::before {
  background-color: rgba(20, 20, 20, 0.3);
  /* Fondo más claro cuando se pasa el ratón por encima */
}

.opcion-9:hover::before {
  background-color: rgba(20, 20, 20, 0.3);
  /* Fondo más claro cuando se pasa el ratón por encima */
}

.opcion-10:hover::before {
  background-color: rgba(20, 20, 20, 0.3);
}

.opcion-11:hover::before {
  background-color: rgba(20, 20, 20, 0.3);
}

/* ------------------------------------------------FILOSOFÍA */
.filosofia {
  width: 100%;
  min-height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: bisque;
}

.contenedor-filosofia {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: 2rem 1rem 0 1rem;

}

.filosofia-titulo {
  font-family: monospace;
  font-weight: 700;
  font-size: 2rem;
  padding: 0 0 2rem 0;
}

.parrafo1-filosofia {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1.1rem;
}

.parrafo2-filosofia {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 1rem;

}

/* Secction 3 */
.nosotros {
  width: 100%;
  margin-top: 4rem;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-nosotros {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: 2rem 1rem 0 1rem;


}

.nosotros-Title {
  width: 100%;
  font-family: monospace;
  font-weight: 700;
  font-size: 2rem;

}

.section3-description {
  margin-top: 2rem;
  margin-bottom: 2rem;

}




/* ---------------------- GALERIA -------------------------*/
.galeria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 25rem;
}

.titulo-galeria {
  margin-top: 20rem;
  text-align: center;
  width: 90%;
  font-size: 2.5rem;
  font-family: "Bungee", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: rgb(255, 152, 16);

}

.contenedor-galeria {

  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin-top: 6rem;

}

.galeria-imagen {
  width: 90%;
  height: 100%;
  object-fit: cover;
}