.Menu-H2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Great Vibes", cursive;
  background-color: rgb(254, 155, 25);
  height: 4.5rem;
  margin-bottom:2rem ;
}
