.principal-Home{
  
  width: 100%;
}
.section1-Home{
 position: relative;
 background-image: url('../../assets/Fondo.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 2rem;
 min-height: 30rem;
}
.section1-Home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(20, 20, 20, 0.5); /* Ajusta el valor de opacidad según lo necesites */
}
.contenedor-Home{
  position: relative;
  color: white;
}
.title1-Home{
  font-size: 1.5rem;
  font-weight: 600;
  
}
.title2-Home{
  font-family: "Merienda", cursive;
  font-weight: 600;
  font-size: 2.5rem;
  color: rgb(255, 152, 16);
}
.description-Home{
  font-size: 1.2rem;
  
}
.boton-Home{
  position: relative;
  width: 100%;
  margin-top: 2rem;
  border: 1px solid rgb(255, 255, 255);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* Section 2 */
.section2-Home{
  min-height: 20rem;
  margin: auto;
}
.contenedor-S2{
  display: flex;
  justify-content: space-around;
}
.title-S2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Great Vibes", cursive;
  background-color:  rgb(254, 155, 25);
  height: 4.5rem;
}