.menu-items{
  list-style: none;
  padding: .5rem ;

  
}

.menu-boton{
  display: flex;
  align-items: center;
  
  font-size: clamp(1rem, 1.2vw, 2rem);
  color: black;
}
.menu-boton:hover{
  transition: all 0.5s;
  color: rgb(255, 111, 0);
}