.nav{
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem;
  z-index: 10;
}
.contenedor{
  margin: auto;
  justify-content: space-between;
  align-items: center;
 
}
.contenedor-cuerpo{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.opciones-menu{
  display: none;
}
.opciones-menu1{
  width: 100%;
  
}
.opciones{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 2rem;
  
}
.opciones:hover{
background-color: orangered;
}